# DEPLOY, used in LDAP and also for config_split.
# There is also a env value comming from DDEV : IS_DDEV_PROJECT.
ENV_ID=dev

# Current drupal site hash salt. One site = one hash_calt, so it has to be the same on dev, staging, prod.
HASH_SALT=hash_salt

# Default database, no need for ddev.
DB_NAME=database_name
DB_USER=sql_username
DB_PASSWORD=sql_password
DB_HOST=localhost
DB_PORT=3306
DB_DRIVER=mysql
DB_PREFIX=
DB_COLLATION=utf8mb4_general_ci

# THEME (used in MAKEFILE to build theme, mc_dsfr or mc_bootstrap). @todo improve when doing theme.
THEME_NAME=mc_theme

# BACKEND CACHE.
# If set to null, cache bins page, render and dynamic_page_cache will be set to cache.backend.null.
# See example.settings.local.php
BACKEND_CACHE=null

# @todo : check : $settings['reverse_proxy_addresses'] = [$_SERVER['REMOTE_ADDR']];
REVERSE_PROXY=FALSE

# Redis connexion, this ddev project has a redis container.
REDIS_ENABLE=TRUE
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

# S3 connexion.
S3_ENABLE=FALSE
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=
S3_BUCKET=
S3_REGION=
S3_USE_FOR_PUBLIC=TRUE
S3_USE_FOR_PRIVATE=FALSE
S3_USE_FOR_MAIN_STORAGE=FALSE
S3_USE_CUSTOM_HOST=TRUE
S3_HOSTNAME=# Same as endpoint.
S3_DOMAIN=# For example : S3_BUCKET . '.s3.' . S3_REGION . '.io.cloud.ovh.net',

# OIDC : OpenID Connect.
OIDC_ENABLE=FALSE
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTH_ENDPOINT=
OIDC_TOKEN_ENDPOINT=
OIDC_USERINFO_ENDPOINT=
OIDC_END_SESSION_ENDPOINT=
OIDC_SCOPE=openid,email,profile

# SMTP server connexion.
SMTP_ENABLE=FALSE
SMTP_MAILER_HOST=
SMTP_MAILER_PORT=
SMTP_MAILER_USER=
SMTP_MAILER_PASS=
SMTP_DRUPAL_SITE_MAIL=
